.login__page {
  display: grid;
  place-items: center;
  background-color: black;
  height: 100vh;
}

.login__page > img {
  width: 100%;
}

.login__page > a {
  border-radius: 100px;
  background-color: #1db955;
  font-weight: 900;
  text-decoration: none;
  color: #fff;
}
